
<h2 class="container text-center ">Skills Page</h2>
<form [formGroup]="skillForm" (ngSubmit)="submit()" class="mx-2">
    <div class="form-group mt-3">
        <label for="name" class="mb-2"> Skill Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Skill Name">
    </div>
    <div class="form-group mt-4">
        <label for="family" class="mb-2"> Skill Family</label>
        <input type="text" formControlName="family" class="form-control" id="family" placeholder="Enter Family">
    </div>
    @if(isEdit){
    <button type="submit" class="btn btn-primary mt-3">Update</button>
    }
    @else{
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    }
    <button type="button" (click)="resetPage()" class="btn btn-primary mt-3 mx-2 ">Reset Page</button>
</form>

<div class="container mt-2">
    <nav class="navbar">
        <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Enter text to search"
            class="form-control" />
    </nav>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar mt-4 mx-2">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr class="table-primary">
                <th scope="col" (click)="toggleSortById()" class="text-center">Id&nbsp;<i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="text-center">Skill Name</th>
                <th scope="col" class="text-center">Skill Family</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        
        <tbody>
           
            <tr *ngFor="let skill of skills   | paginate :{ itemsPerPage: 3, currentPage: p }">
                <td class="text-center">{{skill.id}}</td>
                <td class="text-center">{{skill.name}}</td>
                <td class="text-center">{{skill.family}}</td>
                <td class="text-center">
                    <button (click)="editSkill(skill.id)" class="btn btn-primary mx-2">Edit</button>
                    <button (click)="deleteskill(skill.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>