<form [formGroup]="batchModuleForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="form-group mt-3 col-md-3">
            <label class="mb-2">Batch Name</label>
            <select class="form-select" formControlName="batchName">
                <option>Open this select menu</option>
                <option *ngFor="let val of batch">{{val.name}}</option>
            </select>
        </div>
        <div class="form-group mt-3 col-md-3">
            <label class="mb-2">Module Name</label>
            <select class="form-select" formControlName="moduleName">
                <option>Open this select menu</option>
                <option *ngFor="let val of module">{{val.name}}</option>
            </select>
        </div>

        <div class="row  d-flex">
            <div class="form-group mt-3 col-md-3 align-items-end">
                <button type="submit" class="btn btn-primary mt-3">Map Value</button>
            </div>
        </div>

    </div>
</form>

<div class="table-wrapper-scroll-y my-custom-scrollbar mt-5 my-5">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr class="table-primary">
                <th scope="col" class="text-center">Batch Name</th>
                <th scope="col" class="text-center">Capacity</th>
                <th scope="col" class="text-center">Technology</th>
                <th scope="col" class="text-center">Batch Start</th>
                <th scope="col" class="text-center">Batch End</th>
                <th scope="col" class="text-center">Module Name</th>
                <th scope="col" class="text-center">Level</th>
                <th scope="col" class="text-center">Certification Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of batchModuleDto">
                <td class="text-center">{{val.batchName}}</td>
                <td class="text-center">{{val.capacity}}</td>
                <td class="text-center">{{val.technology}}</td>
                <td class="text-center">{{val.batch_Start | date }}</td>
                <td class="text-center">{{val.batch_End | date}}</td>
                <td class="text-center">{{val.moduleName}}</td>
                <td class="text-center">{{val.level}}</td>
                <td class="text-center">{{val.certification_Type}}</td>
            </tr>

        </tbody>
    </table>
</div>