<h2 class="container text-center">Skill Module Map</h2>
<form [formGroup]="smForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="form-group mt-3 col-md-3">
            <label class="mb-2">Module Name</label>
            <select class="form-select" formControlName="moduleName">
                <option selected>Open this select menu</option>
                <option *ngFor="let val of module" value="{{val.id}}">{{val.name}}</option>
            </select>
        </div>
        <div class="form-group mt-3 col-md-3">
            <label class="mb-2">Skill Name</label>
            <ng-multiselect-dropdown [placeholder]="'Select a value'" 
                [settings]="dropdownSettings"
                [data]="dropdownList"
                 formControlName="skillName" 
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                >
            </ng-multiselect-dropdown>
        </div>
        
        <div class="row  d-flex">
            @if (isEdit) {
                <div class="form-group mt-3 col-md-3 align-items-end">
                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                </div>
            }
            @else {
                <div class="form-group mt-3 col-md-3 align-items-end">
                    <button type="submit" class="btn btn-primary mt-3">Map Values</button>
                </div>
            }
            <div class="form-group mt-3 col-md-3 align-items-end">
                <button type="button" (click)="resetPage()" class="btn btn-primary mt-3">Reset Page</button>
            </div>
        </div>
    </div>
</form>

<div class="table-wrapper-scroll-y my-custom-scrollbar mt-5 my-5 mx-1">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr class="table-primary">
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Module Name</th>
                <th scope="col" class="text-center">Level</th>
                <th scope="col" class="text-center">Learning Type</th>
                <th scope="col" class="text-center">Certification Type</th>
                <th scope="col" class="text-center">Skill Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of SkillModuleDto">
                <td class="text-center">{{val.moduleId}}</td>
                <td class="text-center">{{val.moduleName}}</td>
                <td class="text-center">{{val.level}}</td>
                <td class="text-center">{{val.learning_Type}}</td>
                <td class="text-center">{{val.certification_Type}}</td>
                <td class="text-center">{{val.skillName}}</td>
                <td class="text-center">
                    <button (click)="deleteMapped(val.moduleId)" class="btn btn-danger">Delete Mapped</button>
                    <button type="button" (click)="updateVal(val.moduleId)" class="btn btn-primary mt-2">Update Mapped</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
