@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    font-family: Poppins,sans-serif;
}
/* main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
} */
.section{

    left: 0rem;
    width: 250px;
    height: 100vh;
    background-color: gray;
   
}
#sidebarMenu{
    left: 0%;
    position: absolute;
    right: 75%;
}
