@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    font-family: Poppins,sans-serif;
    font-size: 0.8rem;
}
.section{

    left: 0rem;
    width: 250px;
    height: 100vh;
    background-color: gray;
   
}
#sidebarMenu{
    left: 0%;
    position: absolute;
    right: 75%;
}

li{
    color: white;
}
