
.input-field{
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}
.input-field input[type="text"],
input[type="password"]{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}