@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    font-family: Poppins,sans-serif;
}
   
    
    /* .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    } */
.input-field{
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}
.input-field input[type="text"],
input[type="password"]{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}