
<h2 class="container text-center">Module Page</h2>
<form [formGroup]="moduleForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="form-group mt-3 col-md-3">
            <label for="name" class="mb-2"> Module Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Module Name">
        </div>

        <div class="form-group mt-3 col-md-3">
            <label for="level" class="mb-2"> Module Level </label>
            <select class="form-select" aria-label="Default select example" formControlName="level">
                <option selected>Open this select menu</option>
                <option value="Basic">Basic</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermidate">Intermidate</option>
                <option value="Advance">Advance</option>
                <option value="Expert">Expert</option>
              </select>
        </div>

        <div class="form-group mt-3 col-md-3">
            <label for="learn" class="mb-2"> Learning Type </label>
                <select class="form-select" aria-label="Default select example" formControlName="learning_Type">
                    <option selected>Open this select menu</option>
                    <option value="Live">Live</option>
                    <option value="Classroom">Classroom</option>
                  </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group mt-3 col-md-3">
            <label for="certification" class="mb-2">Certification Type</label>
                <select class="form-select" aria-label="Default select example" formControlName="certification_Type">
                    <option selected>Open this select menu</option>
                    <option value="Online">Online</option>
                    <option value="Offline">Offline</option>
                  </select>
        </div>
    </div>

    @if(isEdit)
    {

    <button type="submit" class="btn btn-primary mt-3">Update</button>

    }
    @else {

    <button type="submit" class="btn btn-primary mt-3">Submit</button>

    }
    <button type="button" (click)="resetPage()" class="btn btn-primary mt-3 mx-2 ">Reset Page</button>
</form>

<div class="container mt-2 mx-0">
    <nav class="navbar">
        <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Enter text to search"
            class="form-control" />
    </nav>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar mt-3 my-5">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr class="table-primary">
                <th scope="col" (click)="toggleSortById()" class="text-center">Id&nbsp;<i class="fa-solid fa-sort"></i>
                </th>
                <th scope="col" class="text-center">Module Name</th>
                <th scope="col" class="text-center">Level</th>
                <th scope="col" class="text-center">Certification</th>
                <th scope="col" class="text-center">Learning Type</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of module |paginate:{itemsPerPage: 3, currentPage: p }">
                <td class="text-center">{{val.id}}</td>
                <td class="text-center">{{val.name}}</td>
                <td class="text-center">{{val.level}}</td>
                <td class="text-center">{{val.certification_Type }}</td>
                <td class="text-center">{{val.learning_Type}}</td>
                <td class="text-center">
                    <button type="button" (click)="edit(val.id)" class="btn btn-primary mx-2">Edit</button>
                    <button type="button" (click)="deleteModule(val.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>